@if (DataResult.Alias is { Length: > 0 } alias)
{
    <h4>@alias (@DataResult.PersonResult.Firstname @DataResult.PersonResult.Lastname)</h4>
}
else
{
    <h4>@DataResult.PersonResult.Firstname @DataResult.PersonResult.Lastname</h4>
}

@code {
    [Parameter, EditorRequired]
    public required ArtistResult DataResult { get; set; }
}
