<ul>
    @if (!string.IsNullOrEmpty(((ArtistFilter)EditContext.Model).Alias))
    {
        <li>
            <span>@(((ArtistFilter)EditContext.Model).Alias)</span>

            <button @onclick="() => { ((ArtistFilter)EditContext.Model).Alias = null; EditContext.NotifyFieldChanged(FieldIdentifier.Create(() => ((ArtistFilter)EditContext.Model).Alias)); }">x</button>
        </li>
    }

    @if (!string.IsNullOrEmpty(((ArtistFilter)EditContext.Model).Firstname))
    {
        <li>@((ArtistFilter)EditContext.Model).Firstname</li>
    }

    @if (!string.IsNullOrEmpty(((ArtistFilter)EditContext.Model).Lastname))
    {
        <li>@((ArtistFilter)EditContext.Model).Lastname</li>
    }
</ul>

@code {
    [Parameter, EditorRequired]
    public required EditContext EditContext { get; set; }
}
