@inject MemoryService MemoryService

<Filters EditContext="EditContext"
         GetTags="GetTags"
         OnValidSubmit="() => OnValidSubmit.InvokeAsync()"
         OnReset="() => OnReset.InvokeAsync()">
    <Inputs>
        <div>
            <label for="alias">Alias</label>

            <InputText @bind-Value="((ArtistFilter)EditContext.Model).Alias" id="alias" />
        </div>

        <div>
            <label for="firstName">Firstname</label>

            <InputText @bind-Value="((ArtistFilter)EditContext.Model).Firstname" id="firstName" />
        </div>

        <div>
            <label for="lastName">Lastname</label>

            <InputText @bind-Value="((ArtistFilter)EditContext.Model).Lastname" id="lastName" />
        </div>
    </Inputs>
</Filters>

@code {
    [Parameter, EditorRequired]
    public required EditContext EditContext { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnReset { get; set; }

    private Dictionary<string, Action<string?>>? GetTags()
    {
        var tags = new Dictionary<string, Action<string?>>();

        if (((ArtistFilter)EditContext.Model).Alias is { } alias && alias.Count() > 0)
        {

            tags.Add(alias, (value) => ((ArtistFilter)EditContext.Model).Alias = value);
        }

        if (((ArtistFilter)EditContext.Model).Firstname is { } firstname && firstname.Count() > 0)
        {
            tags.Add(firstname, (value) => ((ArtistFilter)EditContext.Model).Firstname = value);

        }

        if (((ArtistFilter)EditContext.Model).Lastname is { } lastname && lastname.Count() > 0)
        {
            tags.Add(lastname, (value) => ((ArtistFilter)EditContext.Model).Lastname = value);
        }

        return tags;
    }
}
