ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type:none;
    flex-wrap: wrap;
}

ul > li {
    background-color: rgb(225,225,225);
    font-size: .8em;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: .5em;
}
