@if (ArtistDataResult.Alias is { Length: > 0 } alias)
{
    <h4>@alias (@ArtistDataResult.PersonResult.Firstname @ArtistDataResult.PersonResult.Lastname)</h4>
}
else
{
    <h4>@ArtistDataResult.PersonResult.Firstname @ArtistDataResult.PersonResult.Lastname</h4>
}

@code {
    [Parameter, EditorRequired]
    public required ArtistResult ArtistDataResult { get; set; }
}
