@inherits CreateEditForm<ArtistFormModel>

<CreateEditContainer IsSelectOpen="showPersonDataResultOptions || showImageDataResultOptions">
    <Content>
        <EditForm EditContext="editContext" OnValidSubmit="() => OnValidSubmit.InvokeAsync(FormModel)" @onreset="HandleOnReset">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <ValidationSummary></ValidationSummary>

            <div>
                <div>
                    <label for="alias">Alias</label>

                    <InputText @bind-Value="FormModel.Alias" id="alias" />
                </div>

                <PersonDataResultSelect DataResult="FormModel.PersonResult"
                                        Context="PersonResult"
                                        OnDataRequest="() => showPersonDataResultOptions = true"
                                        OnRemoveRequest="() => {FormModel.PersonId = null; FormModel.PersonResult = null; NotifyFormChanged(); }"
                                        @bind-Value="FormModel.PersonId">
                    <Info>
                        <PersonDataResultInfo DataResult="PersonResult" />
                    </Info>
                </PersonDataResultSelect>

                <ImageDataResultSelect DataResult="FormModel.ImageResult"
                                       Context="ImageResult"
                                       OnDataRequest="() => showImageDataResultOptions = true"
                                       OnRemoveRequest="() => { FormModel.ImageId = null; FormModel.ImageResult = null; NotifyFormChanged(); }"
                                       @bind-Value="FormModel.ImageId">
                    <Info>
                        <ImageDataResultInfo DataResult="FormModel.ImageResult" />
                    </Info>
                </ImageDataResultSelect>
            </div>

            <div class="buttons flex-end">
                @Buttons
            </div>
        </EditForm>

        @if (showPersonDataResultOptions)
        {
            <PersonDataResultOptions Context="Context">
                <Header>
                    <OptionsHeader Model="Person" OnCloseRequested="() => showPersonDataResultOptions = false" />
                </Header>

                <FilterInputs>
                    <PersonFilterFormModelInputs FilterFormModel="Context" />
                </FilterInputs>

                <Template>
                    <OptionsTemplate DataResult="Context.DataResult"
                                     EditContext="editContext"
                                     TDataResult="PersonResult"
                                     TDataResultInfo="PersonDataResultInfo"
                                     GetDataResultId="() => Context.DataResult.Id"
                                     SetDataResultId="value => FormModel.PersonId = value"
                                     SetDataResult="value => FormModel.PersonResult = value"
                                     OnDataResultSelected="() => showPersonDataResultOptions = false" />
                </Template>
            </PersonDataResultOptions>
        }

        @if (showImageDataResultOptions)
        {
            <ImageDataResultOptions Context="Context">
                <Header>
                    <OptionsHeader Model="Image" OnCloseRequested="() => showImageDataResultOptions = false" />
                </Header>

                <FilterInputs>
                    <div>
                        <label for="alt">Alt</label>

                        <InputText @bind-Value="Context.Alt" id="alt" />
                    </div>
                </FilterInputs>

                <Template>
                    <OptionsTemplate DataResult="Context.DataResult"
                                     EditContext="editContext"
                                     TDataResult="ImageResult"
                                     TDataResultInfo="ImageDataResultInfo"
                                     GetDataResultId="() => Context.DataResult.Id"
                                     SetDataResultId="value => FormModel.ImageId = value"
                                     SetDataResult="value => FormModel.ImageResult = value"
                                     OnDataResultSelected="() => showImageDataResultOptions = false" />
                </Template>
            </ImageDataResultOptions>
        }
    </Content>
</CreateEditContainer>

@code {
    private bool showPersonDataResultOptions = false;
    private bool showImageDataResultOptions = false;
}