@page "/artist/edit/{id:int}"

@layout ArtistLayout

@inject IArtistService ArtistApiService
@inject NavigationManager NavigationManager
@inject DataController DataController
@inject MemoryService MemoryService

<h3>Edit</h3>

<ArtistCreateEditForm ArtistFormModel="artistFormModel" OnValidSubmit="() => Post()">
    <Buttons>
        <button type="submit">Submit</button>

        <button type="button" @onclick="async () => {MemoryService.HasUnsavedData = false; await FetchArtist(Id);}" class="warning">Undo changes</button>

        <NavLink href="@($"artist/delete/{Id}")" class="button danger">Delete</NavLink>
    </Buttons>
</ArtistCreateEditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public bool IsOpen { get; set; }

    private ArtistFormModel? artistFormModel { get; set; }

    private PagedServiceResult<IList<PersonResult>, PersonFilter>? peoplePagedServiceResult { get; set; }
    private PagedServiceResult<IList<ImageResult>, ImageFilter>? imagesPagedServiceResult { get; set; }

    protected override void OnInitialized()
    {
        var artistServiceResult = (ServiceResult<ArtistResult>?)DataController.Data;
        if (artistServiceResult?.Data is { } artistResult)
        {
            artistFormModel = artistResult.ToFormModel();
        }

        base.OnInitialized();
    }

    private async Task FetchArtist(int id)
    {
        var artistServiceResult = await DataController.Fetch(async () => await ArtistApiService.Get(id));

        if (artistServiceResult?.Data is { } artistResult)
        {
            artistFormModel = artistResult.ToFormModel();
        }
    }

    private async Task Post()
    {
        if (IsOpen)
        {
            return;
        }

        if (artistFormModel?.ToRequest() is not { } artistRequest)
        {
            return;
        }

        var serviceResult = await DataController.Fetch(async () => await ArtistApiService.Update(Id, artistRequest));
        if (serviceResult.Messages is null)
        {
            MemoryService.HasUnsavedData = false;

            NavigationManager.NavigateTo("/artist");
        }
    }
}