@page "/"

@inject DataController DataControllerService

<PageTitle>Home</PageTitle>

@if (PerformancesPagedServiceResult?.Data is { } data)
{
    <section>
        <h3>Next performances</h3>

        <ul class="data-list">
            @foreach (var performanceResult in data)
            {
                <li>
                    <IndexPageTemplate Model="Performance" Id="performanceResult.Id">
                        <Info>
                            <PerformanceDataResultInfo DataResult="performanceResult" />
                        </Info>
                    </IndexPageTemplate>
                </li>
            }
        </ul>

        <NavLink href="performance" class="button flex-end">Show all</NavLink>
    </section>
}

@code {
    private PagedServiceResult<IList<PerformanceResult>, PerformanceFilterResult>? PerformancesPagedServiceResult;

    protected override void OnInitialized()
    {
        PerformancesPagedServiceResult = (PagedServiceResult<IList<PerformanceResult>, PerformanceFilterResult>?)DataControllerService.Data;

        if (PerformancesPagedServiceResult is null) return;

        base.OnInitialized();
    }
}