@page "/"

@inject IPersonService PersonApiService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink href="artist">Artists</NavLink>
<NavLink href="person">People</NavLink>
<NavLink href="image">Images</NavLink>
<NavLink href="act">Acts</NavLink>

@code {

}