<button @onclick="OnCloseRequested" class="warning flex-end">&#128939;</button>

<h3>Select @Model</h3>

@code {
    [Parameter, EditorRequired]
    public required string Model { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback OnCloseRequested { get; set; }
}