@page "/image/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout ArtistCrudLayout

<DeleteRequest TDataRequest="ImageApiRequest"
               TDataResult="ImageResult"
               TFilterRequest="ImageFilterRequest"
               TFilterResult="ImageFilterResult"
               TApiService="IImageApiService"
               TDataResultHelpers="IDataResultHelpers<ImageResult>"
               Id="Id"
               Model="Image"
               Context="Context">
    <Info>
        <li>
            <p class="label">Id</p>
            <p class="input">@Context.DataResult.Id</p>
        </li>

        <li>
            <p class="label">Alt</p>
            <p class="input">@Context.DataResult.Alt</p>
        </li>

        <li>
            <p class="label">Created</p>
            <p class="input">@Context.DataResult.Created.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Updated</p>
            <p class="input">@Context.DataResult.Updated.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Image</p>

            <Image ImageResult="Context.DataResult" />
        </li>
    </Info>
</DeleteRequest>


@code {
    [Parameter]
    public int Id { get; set; }
}