@inherits DataResultInfoBase<LineupResult>

@if(DataResult is { } dataResult)
{
    <p>@dataResult.Doors.ToShortDateString() @dataResult.Title</p>

    <Image ImageResult="dataResult.ImageResult" />
}

