@typeparam TDataResult
@typeparam TFilterRequest

<div>
    <label for="@($"{Model}Id")">@Model</label>

    <div>
        @if (DataResult is { } result)
        {
            @Info(result)
        }
        else
        {
            <p>none</p>
        }

        <div class="buttons flex-end">
            @if (DataResult is not null)
            {
                <button type="button" @onclick="() => OnDataRequest.InvokeAsync()">Change</button>

                <button type="button" @onclick="() => OnRemoveRequest.InvokeAsync()" class="warning">Remove</button>
            }
            else
            {
                <button type="button" @onclick="() => OnDataRequest.InvokeAsync()">Add</button>
            }
        </div>

        <InputNumber @bind-Value="CurrentValue" id="@($"{Model}Id")" hidden />
    </div>
</div>
