<div>
    <h4>@Model.Firstname @Model.Lastname</h4>

    <button @onclick="() => OnSelected.InvokeAsync(Model)">Select</button>
</div>

@code {
    [Parameter, EditorRequired]
    public required PersonResult Model { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<PersonResult> OnSelected { get; set; }
}
