<div>
    @if(Model.Alias is { Length: > 0 } alias)
    {
        <h4>@alias (@Model.PersonResult?.Firstname @Model.PersonResult?.Lastname)</h4>
    }
    else
    {
        <h4>@Model.PersonResult?.Firstname @Model.PersonResult?.Lastname</h4>
    }

    <button @onclick="() => OnSelected.InvokeAsync(Model)">Select</button>
</div>

@code {
    [Parameter, EditorRequired]
    public required ArtistResult Model { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<ArtistResult> OnSelected { get; set; }
}
