div {
    display: flex;
}

    div.select-image {
        flex-direction: column;
    }

        div.select-image > div {
            border: 1px solid rgb(200,200,200);
            flex-direction: column;
            padding: 1em;
            gap: 1em;
        }

        div.select-image > div > div {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

            div.select-image > div > div > p {
                color: rgb(100,100,100);
            }

        div.select-image > div > img {
            aspect-ratio: 3/2;
            object-fit: cover;
            max-width: 100%;
        }