@layout MainLayout

@inherits LayoutComponentBase

@implements IDisposable

@inject MemoryService MemoryService
@inject NavigationManager NavigationManager

<section>
    @if(NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "artist")
    {
        <NavLink href="/">Home</NavLink>
    } else
    {
        <NavLink href="/artist">Index</NavLink>
    }

    <h2>Artist</h2>

    <section>
        @Body
    </section>
</section>

@code {
    public void Dispose() => MemoryService.DisposeArtistData();
}
