@layout MainLayout

@inherits LayoutComponentBase

@implements IDisposable

@inject MemoryService MemoryService
@inject NavigationManager NavigationManager

<section class="layout">
    @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "performance")
    {
        <NavLink href="/" class="button">Home</NavLink>
    }
    else
    {
        <NavLink href="/performance" class="button">Index</NavLink>
    }

    <h2>Performance</h2>

    @Body
</section>

@code {
    public void Dispose() => MemoryService.DisposePerformanceData();
}
