@page "/act/edit/{id:int}"

@layout ActCrudLayout

@using MusicClub.Cms.Blazor.Models.FormModels.Data

@inject IActService ActApiService
@inject IGoogleEventService GoogleEventApiService
@inject NavigationManager NavigationManager
@inject DataController DataController
@inject MemoryService MemoryService

<h3>Edit</h3>

<ActCreateEditForm FormModel="actFormModel" OnValidSubmit="() => Post()">
    <Buttons>
        <EditButtons Id="Id"
                     Model="Act"
                     OnUndoChangesRequest="async () => {MemoryService.HasUnsavedData = false; await FetchAct(Id);}" />
    </Buttons>
</ActCreateEditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public bool IsOpen { get; set; }

    private ActFormModel? actFormModel { get; set; }

    private PagedServiceResult<IList<PersonResult>, PersonFilterResult>? peoplePagedServiceResult { get; set; }
    private PagedServiceResult<IList<ImageResult>, ImageFilterResult>? imagesPagedServiceResult { get; set; }

    protected override void OnInitialized()
    {
        var actServiceResult = (ServiceResult<ActResult>?)DataController.Data;
        if (actServiceResult?.Data is { } actResult)
        {
            actFormModel = actResult.ToFormModel();
            if (actResult.Start is not null && actResult.Duration > 0 && actResult.GoogleEventDbIdentity is not null)
            {
                actFormModel.Push = true;
            }
        }

        base.OnInitialized();
    }

    private async Task FetchAct(int id)
    {
        var actServiceResult = await DataController.Fetch(async () => await ActApiService.Get(id));

        if (actServiceResult?.Data is { } actResult)
        {
            actFormModel = actResult.ToFormModel();
        }
    }

    private async Task Post()
    {
        if (IsOpen)
        {
            return;
        }

        if (actFormModel?.ToRequest() is not { } actRequest)
        {
            return;
        }

        var serviceResult = await DataController.Fetch(async () => await ActApiService.Update(Id, actRequest));
        if (serviceResult.Data is not null && serviceResult.Messages is null)
        {
            @if (actFormModel.Start is not null && actFormModel.Duration > 0 && actFormModel.Push)
            {
                if (serviceResult.Data.GoogleEventDbIdentity > 0)
                {
                    //todo: get the GoogleCalendar.Id dynamically
                    await DataController.Fetch(async () => await GoogleEventApiService.Update((int)serviceResult.Data.GoogleEventDbIdentity, new GoogleEventRequest { ActId = serviceResult.Data.Id, GoogleCalendarId = 1 }));
                }
                else if (serviceResult.Data.GoogleEventDbIdentity is null)
                {
                    //todo: get the GoogleCalendar.Id dynamically
                    await DataController.Fetch(async () => await GoogleEventApiService.Create(new GoogleEventRequest { ActId = serviceResult.Data.Id, GoogleCalendarId = 1 }));

                } // what if serviceResult.Data.GoogleEventDbIdentity < 0 ??
            }



            MemoryService.HasUnsavedData = false;

            NavigationManager.NavigateTo("/act");
        }
    }
}