@page "/act"

@layout ActCrudLayout

<IndexPageContainer IsSelectOpen="showLineupDataResultOptions || showImageDataResultOptions">
    <Content>
        <ActDataResultIndexPage Context="Context">
            <Header>
                <IndexPageHeader Model="Act" />
            </Header>

            <FilterInputs>
                <ActFilterFormModelInputs FilterFormModel="Context" />

                <LineupDataResultSelect DataResult="Context.LineupResult"
                                        Context="ActResult"
                                        OnDataRequest="() => showLineupDataResultOptions = true"
                                        OnRemoveRequest="() => {Context.LineupId = null; Context.LineupResult = null; }"
                                        @bind-Value="Context.LineupId">
                    <Info>
                        <LineupDataResultInfo DataResult="Context.LineupResult" />
                    </Info>
                </LineupDataResultSelect>

                <ImageDataResultSelect DataResult="Context.ImageResult"
                                       Context="ImageResult"
                                       OnDataRequest="() => showImageDataResultOptions = true"
                                       OnRemoveRequest="() => { Context.ImageId = null; Context.ImageResult = null; }"
                                       @bind-Value="Context.ImageId">
                    <Info>
                        <ImageDataResultInfo DataResult="Context.ImageResult" />
                    </Info>
                </ImageDataResultSelect>
            </FilterInputs>

            <Template>
                <IndexPageTemplate Model="Act" Id="Context.DataResult.Id">
                    <Info>
                        <ActDataResultInfo DataResult="Context.DataResult" ShowImage="Context.ShowImages"/>
                    </Info>
                </IndexPageTemplate>
            </Template>

            <DataResultOptions>
                @if (showLineupDataResultOptions)
                {
                    <LineupDataResultOptions Context="DataResultOptionsContext">
                        <Header>
                            <OptionsHeader Model="Lineup" OnCloseRequested="() => showLineupDataResultOptions = false" />
                        </Header>

                        <FilterInputs>
                            <div>
                                <label for="title">Title</label>

                                <InputText @bind-Value="DataResultOptionsContext.Title" id="title" />
                            </div>

                            <div>
                                <label for="doors">Doors</label>

                                <InputDate @bind-Value="DataResultOptionsContext.Doors" id="doors" />
                            </div>
                        </FilterInputs>

                        <Template>
                            <OptionsTemplate TDataResult="LineupResult"
                                             TDataResultInfo="LineupDataResultInfo"
                                             EditContext="Context"
                                             DataResult="DataResultOptionsContext.DataResult"
                                             ShowImage="DataResultOptionsContext.ShowImages"
                                             GetDataResultId="() => DataResultOptionsContext.DataResult.Id"
                                             SetDataResultId="value => ((ActFilterFormModel)Context.Model).LineupId = value"
                                             SetDataResult="value => ((ActFilterFormModel)Context.Model).LineupResult = value"
                                             OnDataResultSelected="() => showLineupDataResultOptions = false" />
                        </Template>
                    </LineupDataResultOptions>
                }

                @if (showImageDataResultOptions)
                {
                    <ImageDataResultOptions Context="DataResultOptionsContext">
                        <Header>
                            <OptionsHeader Model="Image" OnCloseRequested="() => showImageDataResultOptions = false" />
                        </Header>

                        <FilterInputs>
                            <ImageFilterFormModelInputs FilterFormModel="DataResultOptionsContext" />
                        </FilterInputs>

                        <Template>
                            <OptionsTemplate TDataResult="ImageResult"
                                             TDataResultInfo="ImageDataResultInfo"
                                             EditContext="Context"
                                             DataResult="DataResultOptionsContext.DataResult"
                                             ShowImage="DataResultOptionsContext.ShowImages"
                                             GetDataResultId="() => DataResultOptionsContext.DataResult.Id"
                                             SetDataResultId="value => ((ActFilterFormModel)Context.Model).ImageId = value"
                                             SetDataResult="value => ((ActFilterFormModel)Context.Model).ImageResult = value"
                                             OnDataResultSelected="() => showImageDataResultOptions = false" />
                        </Template>
                    </ImageDataResultOptions>
                }
            </DataResultOptions>
        </ActDataResultIndexPage>
    </Content>
</IndexPageContainer>

@code {
    private bool showLineupDataResultOptions = false;
    private bool showImageDataResultOptions = false;
}