@inherits DataResultInfoBase<ImageResult>

@if (DataResult is { } dataResult)
{
    @if (!string.IsNullOrWhiteSpace(HeaderClass))
    {
        <h5 class="@HeaderClass.ToLower()">@dataResult.Alt</h5>
    } else
    {
        <h5>@dataResult.Alt</h5>
    }

    @if (ShowImage)
    {
        <Image ImageResult="dataResult" />
    }
}