div.select-image {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

    div.select-image > div {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

        div.select-image > div > div {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

            div.select-image > div > div > img {
                aspect-ratio: 3/2;
                object-fit: cover;
                max-width: 100%;
            }
