@inherits DataResultInfoBase<ActResult>

@if (DataResult is not null)
{
    @if (DataResult is { } dataResult)
    {
        <h4>@dataResult.Start?.ToLongDateString() @DataResult.Name</h4>

        @if (dataResult.Title is { Length: > 0 } title)
        {
            <p>@title</p>
        }
    }
    else
    {
        <h4>No act</h4>
    }
}