@page "/performance/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout PerformanceCrudLayout

<DeleteRequest TDataRequest="PerformanceRequest"
               TDataResult="PerformanceResult"
               TFilterRequest="PerformanceFilterRequest"
               TFilterResult="PerformanceFilterResult"
               TApiService="IPerformanceService"
               TDataResultHelpers="IDataResultHelpers<PerformanceResult>"
               Id="Id"
               Model="Performance"
               Context="Context">
    <Info>
        <li>
            <p class="label">Id</p>
            <p class="input">@Context.DataResult.Id</p>
        </li>

        <li>
            <p class="label">Instrument</p>
            <p class="input">@Context.DataResult.Instrument</p>
        </li>

        <li>
            <p class="label">Created</p>

            <p class="input">@Context.DataResult.Created.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Updated</p>

            <p class="input">@Context.DataResult.Updated.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Act</p>

            <ActDataResultInfo DataResult="Context.DataResult.ActResult" HeaderClass="paragraph" ShowImage="Context.ShowImages"/>
        </li>

        <li>
            <p class="label">Artist</p>

            <ArtistDataResultInfo DataResult="Context.DataResult.ArtistResult" HeaderClass="paragraph" ShowImage="Context.ShowImages" />
        </li>

@*         <li>
    <p class="label">Bandname</p>
        <BandnameDataResultInfo DataResult="Context.BandnameResult" HeaderClass="paragraph" ShowImage="Context.ShowImages"/>
        </li> *@

        <li>
            <p class="label">Image</p>

            <ImageDataResultInfo DataResult="Context.DataResult.ImageResult" HeaderClass="paragraph" ShowImage="Context.ShowImages" />
        </li>
    </Info>
</DeleteRequest>

@code {
    [Parameter]
    public int Id { get; set; }
}