@page "/performance/statistics"

@layout PerformanceCrudLayout

<button class="flex-end" @onclick="() => LastUpdate = DateTime.UtcNow">Refresh</button>

<iframe id="power-bi" src="@($"https://localhost:444/Reports/powerbi/MusicClub?rs:Embed=true&updated={LastUpdate}")" frameborder="0"></iframe>

<script src="js/power-bi.js"></script>

@code {
    private DateTime LastUpdate = DateTime.UtcNow;
}
